* {
  margin: 0 ;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  background-color: #252525;
}

.navbar {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99999;
  position: fixed;
  background-color: #4C523B;
  top: 0;
  box-sizing: border-box;
  padding: 0 30px;
}

.nav-left ul,
.nav-right ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  margin-bottom: 0;
}

.nav-left li {
  margin-right: 30px;
  font-size: 20px;
  font-family: "Roboto Condensed", monospace;
}

.nav-right li {
  margin-left: 15px;
  font-size: 20px;
}

.nav-left li,
.nav-right li {
  display: flex;
  align-items: center;
  height: 70px;
}

.nav-center {
  position: absolute;
  left: 50%;
}

.navbar a {
  text-decoration: none;
  color: whitesmoke;
}

.navbar a:hover {
  color: #1F1F1F;
}

#carouselExampleControls{
  margin-top: 30px;
}

.caption h1 {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 75%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  text-align: center;
  letter-spacing: 2px;
  font-size: 3rem;
  font-weight: 400;
  font-family: audiowide,"Courier New", Courier, monospaceX;
}

.caption p {
  position: absolute;
  top: 40%;
  left: 25%;
  width: 50%;
  color: whitesmoke;
  font-size: 20px;
  text-align: center;
  font-family: "Chakra Petch","Courier New", Courier, monospaceX;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 3px #6a7337;
  border-radius: 7px;
  width: 80%;
  margin: 20px auto;
}

.info a{
  text-decoration: none;
  color: white;
}

.fitur {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid #A39976;
  border-radius: 8px;
  padding: 20px;
  width: 85%;
  margin: 15px auto;
  background-color: #504E29;
}

.isi {
  display: flex;
  align-items: center;
  gap: 15px; 
  flex: 1;
  min-width: 200px;
  height: 60px;
}


.isi .material-symbols-outlined {
  font-size: 45px;
  color: azure;
}


.text h6 {
  font-size: 16px;
 color: aliceblue;
  margin: 0;
}

.text p {
  font-size: 14px;
  color: whitesmoke;
  margin: 5px 0 0;
}

.isi:not(:first-child) {
  border-left: 1px solid #A39976;
  padding-left: 20px;
}
