* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  background-color: #252525;
}

.navbar {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99999;
  position: fixed;
  background-color: #1e1f23;
  top: 0;
  box-sizing: border-box;
  padding: 0 30px;
}

.nav-left ul,
.nav-right ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  margin-bottom: 0;
}

.nav-left li {
  margin-right: 30px;
  font-size: 20px;
  font-family: "Roboto Condensed", monospace;
}

.nav-right li {
  margin-left: 15px;
  font-size: 20px;
}

.nav-left li,
.nav-right li {
  display: flex;
  align-items: center;
  height: 70px;
}

.nav-center {
  position: absolute;
  left: 47%;
}

.navbar a {
  text-decoration: none;
  color: whitesmoke;
}

.navbar a:hover {
  color: #dfc39f;
}

nav-left {
  position: relative;
}

.dropdown {
  position: absolute;
  background-color: #1e1f23;
  padding: 10px;
  display: none;
  top: 60px;
  left: 10%;
}

.dropdown.show {
  display: block;
}

.dropdown a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  margin: 5px 0;
  transition: background-color 0.2s ease;
}

.dropdown a:hover {
  background-color: #5b5243;
}

.search {
  display: none;
  width: 600px;
  overflow: hidden;
  position: absolute;
  left: 35%;
  font-family: Quicksand, "Courier New", Courier, monospace;
}
.search-button {
  background: #8e8b5e;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.search-button:hover {
  background: #72714c;
  color: white;
}
.search.show {
  display: flex;
}
.nav-center.hide {
  display: none;
}
#input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  background: #f4f4f4;
  font-size: 16px;
}

#carouselExampleControls {
  margin-top: 30px;
}

.caption h1 {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 75%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  text-align: center;
  letter-spacing: 2px;
  font-size: 3rem;
  font-weight: 400;
  font-family: audiowide, "Courier New", Courier, monospaceX;
}

.caption p {
  position: absolute;
  top: 40%;
  left: 25%;
  width: 50%;
  color: whitesmoke;
  font-size: 20px;
  text-align: center;
  font-family: "Chakra Petch", "Courier New", Courier, monospaceX;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 3px #6a7337;
  border-radius: 7px;
  width: 80%;
  margin: 20px auto;
}

.info a {
  text-decoration: none;
  color: white;
}

.fitur {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid #dfc39f;
  border-radius: 3px;
  padding: 20px;
  width: 85%;
  margin: 15px auto;
  background-color: #3a3a3a;
}

.isi {
  display: flex;
  align-items: center;
  gap: 15px;
  flex: 1;
  min-width: 200px;
  height: 60px;
}

.isi .material-symbols-outlined {
  font-size: 45px;
  color: azure;
}

.text h6 {
  font-size: 16px;
  color: aliceblue;
  margin: 0;
}

.text p {
  font-size: 14px;
  color: whitesmoke;
  margin: 5px 0 0;
  min-height: 35px;
}

.isi:not(:first-child) {
  border-left: 1px solid #a39976;
  padding-left: 20px;
}

.kategori {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  width: 85%;
  margin: 10px auto;
}

.kategori h1 {
  color: white;
  font-family: "Chakra Petch", "Courier New", Courier, monospace;
  margin-bottom: 20px;
}

.kategori-list {
  display: flex;
  gap: 40px;
}

.kategori-text {
  position: absolute;
  left: 30px;
  top: 51px;
}

.kategori a {
  text-decoration: none;
}

.kategori h3 {
  font-family: "Chakra Petch", "Open Sans", sans-serif;
  color: #e0e0e0;
  font-size: 50px;
  line-height: 50px;
  font-weight: 600;
  margin: 0px 0 5px;
  transition: all 0.4s ease;
}

.kategori h4 {
  font-size: 30px;
  line-height: 30px;
  color: #dfc39f;
  font-weight: 300;
  margin: 0px;
  transition: all 0.4s ease;
  font-weight: 300;
  font-family: Quicksand, "Open Sans", sans-serif;
}

.kategori-item:hover img {
  transform: scale(1.1);
  transition: all 0.4s ease;
  cursor: pointer;
}

.kategori-item:hover h3 {
  color: #dfc39f;
}

.kategori-item:hover h4 {
  color: #e0e0e0;
}

.kategori-item {
  overflow: hidden;
  position: relative;
}

.arrow {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 24px;
  color: white;
  z-index: 2;
}

.triangle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-top: 40px solid transparent;
  border-right: 40px solid #dfc39f;
  border-bottom: 40px solid #dfc39f;
  z-index: 1;
}

.kategori-item:hover .triangle {
  border-right: 40px solid #3a3a3a;
  border-bottom: 40px solid #3a3a3a;
}

.produk {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  flex-wrap: wrap;
  width: 85%;
  margin: 20px auto;
}

.produk h1 {
  color: white;
  font-family: "Chakra Petch", "Courier New", Courier, monospace;
  font-style: italic;
}
.produk h6 {
  color: white;
  font-family: "Chakra Petch", "Courier New", Courier, monospace;
  margin-bottom: 20px;
  position: absolute;
  left: 79.5%;
  top: 145%;
  border: 1px solid #dfc39f;
  padding: 15px;
  cursor: pointer;
}
.produk p {
  color: rgb(194, 194, 194);
  font-family: Quicksand, "Courier New", Courier, monospace;
  margin-bottom: 20px;
}

.produk h6:hover {
  color: #3a3a3a;
  background-color: #dfc39f;
}

.list-produk {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  width: 300px;
  height: 430px;
  background-color: #3a3a3a;
  position: relative;
  margin-top: 20px;
}
.item p {
  color: white;
  font-family: "Chakra Petch", "Courier New", Courier, monospace;
  margin: 10px 10px;
  font-weight: 500;
  border-bottom: 2px solid #dfc39f;
  padding-bottom: 5px;
  flex-grow: 1;
}
.item img {
  transition: filter 0.5s ease;
}

.item:hover img {
  filter: brightness(0.8);
}

.item:hover {
  background-color: #dfc39f;
}

.item:hover p {
  color: #3a3a3a;
  font-weight: 700;
  border-bottom: 2px solid #3a3a3a;
}

.harga h5 {
  color: white;
  font-family: "Chakra Petch", "Courier New", Courier, monospace;
  margin: 10px 10px;
  font-weight: 500;
  padding-bottom: 5px;
}

.item:hover h5 {
  color: #3a3a3a;
}
.harga {
  display: flex;
  align-items: center;
  gap: 110px;
  padding-bottom: 10px;
}
.keranjang {
  border: 1px solid #dfc39f;
  color: #f4f4f4;
  font-family: "Chakra Petch", "Courier New", Courier, monospace;
  font-size: 5px;
  cursor: pointer;
}
.keranjang h3 {
  color: #dfc39f;
  font-size: 13px;
  font-weight: 700;
  margin: 0;
  padding: 10px;
}
.item:hover h3 {
  border: 1px solid #3a3a3a;
  background-color: #8e8b5e;
  color: #1e1f23;
}
.keranjang:hover h3 {
  background-color: #72714c;
  color: #1e1f23;
}

.tentang {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  width: 85%;
  margin: 20px auto;
}

.tentang-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 60%;
  border: 1px solid #dfc39f;
  border-left: none;
  padding: 20px;
}

.tentang h1 {
  color: white;
  font-family: "Chakra Petch", "Courier New", Courier, monospace;
  margin: 0 auto;
}
.tentang h2 {
  color: transparent;
  -webkit-text-stroke: 0.5px #dfc39f;
  font-family: "Chakra Petch", "Courier New", Courier, monospace;
  font-style: italic;
  font-size: 50px;
}

.mintaemail {
  width: 100%;
  height: 350px;
  background: url(img/mintaemail.jpg);
  background-size: cover;
  margin: 50px auto;
  padding: 50px 50px;
  text-align: center;
}

.mintaemail h1 {
  color: white;
  font-family: "Chakra Petch", "Courier New", Courier, monospace;
  font-style: italic;
  font-size: 50px;
  margin: 0 auto;
}

.mintaemail p {
  color: white;
  font-family: Quicksand, "Courier New", Courier, monospace;
  font-weight: 500;
  font-size: 20px;
  margin: 20px auto;
}

.langganan {
  display: flex;
  width: 600px;
  overflow: hidden;
  position: absolute;
  left: 35%;
  font-family: Quicksand, "Courier New", Courier, monospace;
}
.tombol {
  background: #8e8b5e;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.tombol:hover {
  background: #72714c;
  color: white;
}
#subs {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  background: #ffffff;
  font-size: 16px;
}

footer {
  text-align: center;
  background-color: #1e1f23;
  color: #dfc39f;
  height: 80px;
  font-family: "Chakra Petch", "Courier New", Courier, monospace;
}

footer p {
  margin: 25px;
}
